JavaApplicationClienteWS/xml-resources/web-service-references/HolaMundoWebService/wsdl/localhost_8080/WebApplicationEjemploSOAP/HolaMundoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.java.curso.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.java.curso.edu/" name="HolaMundoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.java.curso.edu/" schemaLocation="http://localhost:8080/WebApplicationEjemploSOAP/HolaMundoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="recuperarPersonas">
<part name="parameters" element="tns:recuperarPersonas"/>
</message>
<message name="recuperarPersonasResponse">
<part name="parameters" element="tns:recuperarPersonasResponse"/>
</message>
<message name="recuperarPersona">
<part name="parameters" element="tns:recuperarPersona"/>
</message>
<message name="recuperarPersonaResponse">
<part name="parameters" element="tns:recuperarPersonaResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="HolaMundoWebService">
<operation name="recuperarPersonas">
<input wsam:Action="http://ws.java.curso.edu/HolaMundoWebService/recuperarPersonasRequest" message="tns:recuperarPersonas"/>
<output wsam:Action="http://ws.java.curso.edu/HolaMundoWebService/recuperarPersonasResponse" message="tns:recuperarPersonasResponse"/>
</operation>
<operation name="recuperarPersona">
<input wsam:Action="http://ws.java.curso.edu/HolaMundoWebService/recuperarPersonaRequest" message="tns:recuperarPersona"/>
<output wsam:Action="http://ws.java.curso.edu/HolaMundoWebService/recuperarPersonaResponse" message="tns:recuperarPersonaResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.java.curso.edu/HolaMundoWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.java.curso.edu/HolaMundoWebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="HolaMundoWebServicePortBinding" type="tns:HolaMundoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="recuperarPersonas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="recuperarPersona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="HolaMundoWebService">
<port name="HolaMundoWebServicePort" binding="tns:HolaMundoWebServicePortBinding">
<soap:address location="http://localhost:8080/WebApplicationEjemploSOAP/HolaMundoWebService"/>
</port>
</service>
</definitions>