JavaApplicationClienteWS/xml-resources/web-service-references/HolaMundoWebService/wsdl/localhost_8080/WebApplicationEjemploSOAP/HolaMundoWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.java.curso.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.java.curso.edu/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="persona" type="tns:persona"/>

<xs:element name="recuperarPersona" type="tns:recuperarPersona"/>

<xs:element name="recuperarPersonaResponse" type="tns:recuperarPersonaResponse"/>

<xs:element name="recuperarPersonas" type="tns:recuperarPersonas"/>

<xs:element name="recuperarPersonasResponse" type="tns:recuperarPersonasResponse"/>

<xs:complexType name="recuperarPersonas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="recuperarPersonasResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="persona">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recuperarPersona">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="recuperarPersonaResponse">
<xs:sequence>
<xs:element name="return" type="tns:persona" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>